- var contactEmail = "info@pycon.org.il"
- var year = "2016"
//- - var ticketsLink = "https://ti.to/pyvec/pycon-cz-2015/"
//- - var urlBase = "https://cz.pycon.org/" + year + "/"
- var urlBase = "http://il.pycon.org/"
