extends ../base

block vars
  - var pageClass = "page-team"

block viewport
  .container
    h1 Meet the PyCon Israel team!
    
    p.lead.
      PyCon is a community event, organized by individual contributors and supported
      by corporate and community sponsorships. Below is a list of our core team members.

    p.lead.
    .team-member
      img(src='/'+year+"/static/images/team/doron.jpg", alt='Photo of Doron Fediuck')
      p.name
        a(href="https://twitter.com/doron_f") Doron Fediuck

    .team-member
      img(src='/'+year+"/static/images/team/sim.jpg", alt='Photo of Sim Zacks')
      p.name
        a(href="https://il.linkedin.com/in/simzacks") Sim Zacks

    .team-member
      img(src='/'+year+"/static/images/team/mikey.jpg", alt='Photo of Mikey Ariel')
      p.name
        a(href="https://twitter.com/thatdocslady") Mikey Ariel

    .team-member
      img(src='/'+year+"/static/images/team/edan.jpg", alt='Photo of Edan Maor')
      p.name
        a(href="https://www.linkedin.com/in/edanmaor") Edan Maor
            
    .team-member
      img(src='/'+year+"/static/images/team/shai.jpg", alt='Photo of Shai Berger')
      p.name
        //- a(href="SOCIALMEDIA-URL") Shai Berger
        a(href="https://github.com/shaib") Shai Berger
            
    .team-member
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of David Melamed')
      p.name
        a(href="/"+year) David Melamed

    .team-member
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Moshe Nahmias')
      p.name
        a(href="/"+year) Moshe Nahmias
    
    .team-member
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Karin Worcel')
      p.name
        a(href="/"+year) Karin Worcel
    
    .team-member
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Daniel Puterman')
      p.name
        a(href="/"+year) Daniel Puterman
    
    .team-member
      img(src='/'+year+"/static/images/team/ofir.jpg", alt='Photo of Ofir Ovadia')
      p.name
        a(href="https://www.linkedin.com/in/ofirovadia") Ofir Ovadia

    .team-member
      img(src='/'+year+"/static/images/team/noam.jpg", alt='Photo of Noam Elfanbaum')
      p.name
        a(href="https://twitter.com/noamelf/") Noam Elfanbaum

    .team-member
      img(src='/'+year+"/static/images/team/miki.jpg", alt='Photo of Miki Tebeka')
      p.name
        a(href="http://353solutions.com") Miki Tebeka

    .team-member
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Amit Aronovitch')
      p.name
        a(href="/"+year) Amit Aronovitch
